.students_list_container {
  margin-top: 30px;
  background-color: white;
  h2 {
    color: #4d3a7c;
  }
  &__table {
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 0.25em;
      color: #4d3a7c;
    }

    th {
      border: 1px solid #4d3a7c;
    }

    tr {
      border: 1px solid #4d3a7c;
    }
    button {
      border-radius: 3px;
      border: none;
      margin: 0 0.25em;
      transition: all 0.3s;
    }

    button:hover {
      box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
      opacity: 0.9;
    }

    button.edit {
      background: #6f9;
    }
    button.delete {
      background: #f69;
    }
  }

  @media screen and (max-width: 800px) {
    tr {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
      border: 1px solid rgba(3, 3, 3, 0.2);
    }
    td,
    th {
      flex: 1 1 150px;
      border: 0.5px solid rgba(3, 3, 3, 0.2);
    }
    td.edit-buttons,
    td.empty {
      /*flex: 1 0 90%;
            text-align: center;*/
    }
  }
}

.border_bottom {
  border: 1px solid #4d3a7c;
}
